
body {
    background-color: #EBEBEB;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}

h1 {
     color: #174883;
 }
 
h3 {
    color: #0061AC;
}

p, ul, table {
    color: #0F98DC;
}

img {
    max-block-size: 30%;
}